header{
    display: flex;

    i{
        font-size: 1em;
        width: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        margin-top: 16px;
        margin-left: 15px;
        @media screen and (min-width:map-get($brkpoint, desktop)){
            font-size: 2.2em;
            padding-left: 150%;
        }
    }
}

#image{
    img{
        object-fit: cover;
        width: 110%;
        height: 233px;
        position: relative;
        right: 15px;
    }
}

#menu {
    position: relative;
    background-color: $bg-clear;
    border-top-left-radius: map-get($espacement, xlarge);
    border-top-right-radius: map-get($espacement, xlarge);
    padding-right: map-get($espacement, medium);
    padding-left: map-get($espacement, medium);
    margin: -50px auto 0px auto;
    padding-bottom: 10px;

    @media screen and (min-width:map-get($brkpoint, laptop)) {
        max-width: map-get($brkpoint, desktop);
        margin: -30px auto 0px auto;
    }
    
    h1 {
        font-size: 1.5em;
    }
    .trait {
        width: 40px;
        height: 3px;
        background-color: $color-tertiary;
        margin-bottom: 8px;
    }
    .head {
        display: flex;
        padding-top: 5px;
    }

    h2 {
        font-weight: lighter;
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 1.1em;
    }

    .entrées{
        margin-bottom: 20px;
    }

    .choix {
        font-family: roboto;
        margin-top: map-get($espacement, xsmall);
        margin-bottom: map-get($espacement, small);
        border: none;
        background-color: white;
        width: 100%;
        border-radius: 15px;
        cursor: pointer;
        padding: 10px;
        @include button-shadow(grey);


        h3 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 1em;
            font-weight: 700;
        }
        .textes {
            display: flex;
            justify-content: space-between;
            padding-right: 5px;

            h4 {
                margin: 0px;
                font-size: 0.8em;
                font-weight: normal;
                overflow: hidden;
            }

            h5 {
                margin: 0px;
                font-weight: 1000;
            }
        }




    }
}