header{
    display: flex;

    i{
        font-size: 1.5em;
        width: 0px;
        position: relative;
        top: 5px;
        left: 20px;
        @media screen and (min-width:map-get($brkpoint, desktop)){
            font-size: 2.2em;
            padding-left: 150%;
        }
    }
}