#image{
    width: 100%;
    overflow: hidden;

    img{
        object-fit: cover;
        width: 110%;
        height: 233px;
        position: relative;
        right: 15px;
        @media screen and (min-width:map-get($brkpoint, tablet)) and (max-width:map-get($brkpoint, laptop)){
            height: 300px;
        }

        @media screen and (min-width:map-get($brkpoint, laptop)){
            height: 500px;
        }

    }
}

#menu {
    position: relative;
    background-color: $bg-clear;
    border-top-left-radius: map-get($espacement, xlarge);
    border-top-right-radius: map-get($espacement, xlarge);
    padding-right: map-get($espacement, small);
    padding-left: map-get($espacement, small);
  
    margin: -50px auto 0px auto;
    padding-bottom: 30px;

  

    @media screen and (min-width:map-get($brkpoint, laptop)) and (max-width:map-get($brkpoint, desktop)) {
        max-width: map-get($brkpoint, desktop);
        margin: -100px auto 0px auto;
    }

    @media screen and (min-width:map-get($brkpoint, desktop)) {
        max-width: map-get($brkpoint, desktop);
        margin: -60px auto 0px auto;
        @include button-shadow(grey);
    }

  .head {
      display: flex;
      padding-top: 5px;
      
      h1 {
        font-size: 1.5em;
      }

      .coeur {
        width: 0px;
        position: initial;
      }
    }
    

  .carte {
    opacity: 0;

    &:nth-child(1){
      animation: affichage 1s 250ms forwards;
    }
    &:nth-child(2){
      animation: affichage 1s 550ms forwards;
    } 
    &:nth-child(3){
      animation: affichage 1s 850ms forwards;
    }

    h2 {
      font-weight: lighter;
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 1.1em;
    }
    
    .trait {
      width: 40px;
      height: 3px;
      background-color: $color-tertiary;
      margin-bottom: 8px;
      animation: affichage 1s;
    }

    .entrées{
      margin-bottom: 30px;  

      .component{
          display: flex;
          position: relative;
          overflow: hidden;
          opacity:0;
          margin-top: map-get($espacement, xsmall);
          margin-bottom: map-get($espacement, small);
          border-radius: 15px;
          @include button-shadow(grey);

          &.ent {
            &:nth-child(1){
              animation: affichage 1s 500ms forwards;
            }
            &:nth-child(2){
              animation: affichage 1s 600ms forwards;
            }
            &:nth-child(3){
              animation: affichage 1s 700ms forwards;
            }
            &:nth-child(4){
              animation: affichage 1s 800ms forwards;
            }
          }

          &.plat {
            &:nth-child(1){
              animation: affichage 1s 800ms forwards;
            }
            &:nth-child(2){
              animation: affichage 1s 900ms forwards;
            }
            &:nth-child(3){
              animation: affichage 1s 1s forwards;
            }
          }

          &.des {
            &:nth-child(1){
              animation: affichage 1s 1100ms forwards;
            }
            &:nth-child(2){
              animation: affichage 1s 1200ms forwards;
            }
            &:nth-child(3){
              animation: affichage 1s 1300ms forwards;
            }
          }
          

        .choix {
            margin-right: 0px;
            font-family: roboto;
            border: none;
            background-color: white;
            width: 100%;
            height: 35px;
            border-radius: 15px;
            cursor: pointer;
            padding: 10px;
            &+.tick {
              animation: out 500ms;
            }
            & h5 {
              animation: out 500ms;
            }
 
            &:hover {
              & h4 {
                padding-right: 55px;
              }
              &+.tick {
                animation: glissement 400ms both;
                  & .check {
                  animation: turn 400ms forwards;  
                  }
              }
            
              & h5 {
                animation: glissement 400ms both;
              }
            }

            h3 {
              text-align: left;
              margin-top: 0px;
              margin-bottom: 5px;
              font-size: 0.8em;
              font-weight: 700;
              white-space:nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .textes {
              display: flex;
              justify-content: space-between;
              padding-right: 5px;

                h4 {
                  margin: 0px;
                  font-size: 0.7em;
                  font-weight: normal;
                  white-space:nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                h5 {
                  margin: 0px;
                  font-size: 0.7em;
                }
            }
        }

        .tick {
          position: absolute;
          width: 45px;
          background-color: $color-tertiary;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          height: 70px;
          left: 100%;
          animation: decalage 1ms 1s forwards;

          .check {
            text-align: center;
            color: white;
            margin-left: 15px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}