.favicon{
    font-size: 2em;
    appearance: inherit;
    position: absolute;
    border: none;
    background-color: white;
    right: 0px;
    margin-right: 15px;
    z-index: 1;
    opacity: 1;
    transition: opacity 200ms;
    cursor: pointer;
    &:hover{
        opacity: 0;
        &+.favicon--plein{
            opacity: 1;
        }
    }

    &--plein{
        font-size: 2em;
        appearance: inherit;
        background-color: white;

        border: none;
        opacity: 0;
        color: $color-primary;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: opacity 300ms;
        &:hover{
            opacity: 1;
            &+.favicon{
            opacity:0;}
        }

    }
}