.favicon{
    font-size: 2em;
    appearance: inherit;
    position: absolute;
    border: none;
    background-color: white;
    right: 0px;
    margin-right: 15px;
    z-index: 1;
    opacity: 1;
    transition: opacity 200ms;
    cursor: pointer;
    &:hover{
        opacity: 0;
        &+.favicon--plein{
            opacity: 1;
        }
    }

    &--plein{
        font-size: 2em;
        appearance: inherit;
        background-color: white;

        border: none;
        opacity: 0;
        color: $color-primary;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: opacity 300ms;
        &:hover{
            opacity: 1;
            &+.favicon{
            opacity:0;}
        }

    }
}


.fav{
    font-size: 1.3em;
    font-weight: 100;
    appearance: inherit;
    position: absolute;
    top: 0px;
    margin-top: 27px;
    border: none;
    background-color: $bg-clear;
    right: 0px;
    margin-right: 25px;
    z-index: 1;
    opacity: 1;
    transition: opacity 200ms;
    cursor: pointer;
    &:hover{
        opacity: 0;
        &+.fav--plein{
            opacity: 1;
        }
    }

    &--plein{
        font-size: 1.3em;
        appearance: inherit;
        background-color: $bg-clear;
        border: none;
        opacity: 0;
        color: $color-primary;
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        margin-top: 27px;
        margin-right: 25px;
        z-index: 2;
        transition: opacity 300ms;
        &:hover{
            opacity: 1;
            &+.fav{
            opacity:0;}
        }

    }
}