.favicon{
    font-size: 2em;
    position: relative;
    left: 26.2%;
    z-index: 1;
    opacity: 1;
    transition: opacity 200ms;
    cursor: pointer;
    &:hover{
        opacity: 0;
        &+.favicon--plein{
            opacity: 1;
        }
    }

    &--plein{
        font-size: 2em;
        opacity: 0;
        color: $color-primary;
        cursor: pointer;
        position: relative;
        z-index: 0;
        transition: opacity 200ms;
        &:hover{
            opacity: 1;
            &+.favicon{
            opacity:0;}
        }

    }
}