header{
    margin: auto;
    padding-top: map-get($espacement, medium);
    padding-bottom: 7px;
    @media screen and (min-width:map-get($brkpoint, desktop)){
        max-width: map-get($brkpoint, desktop);}
    @media screen and (min-width:map-get($brkpoint, tablet)) and (max-width:map-get($brkpoint, desktop)) {
            max-width: map-get($brkpoint, tablet);}

    img{
        margin: auto;
        display: block;
        width: 140px;
        @media screen and (min-width:map-get($brkpoint, tablet)) and (max-width:map-get($brkpoint, desktop)){
            width:40%;}
        @media screen and (min-width:map-get($brkpoint, desktop)){
            width:30%;}

    }
}