$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$bg-darker: rgb(53, 53, 53);
$bg-dark: rgb(234, 234, 234) ;
$bg-clear: rgb(246,246, 246);
$bg-focus: rgb(245, 237,255);

$espacement: (xlarge:30px, large:20px, medium:15px, small:10px, xsmall:5px, null: 0px); 

$interligne: 10px;

$brkpoint: (desktop:1200px, laptop: 1024px, tablet:768px, phone: 425px);

$gradient: linear-gradient( to top left, $color-primary, $color-secondary);