body {
    font-family: 'Roboto', sans-serif;
}

.titre {
    font-family: 'Shrikhand', cursive;
    font-size: 1.3em;
    @media screen and (min-width:map-get($brkpoint, desktop)){
        font-size: 2em;}
}

a {
    text-decoration: inherit;
    color: inherit;
}